@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght,BNCE@0,300..800,27;1,300..800,27&display=swap');

@font-face
{
    font-family: PirataOne;
    src: url("Fonts/Pirata One/PirataOne-Regular.ttf");
}

/* Variables */

:root
{
    --background-color: #272727;
    --text-color: #d8d8d8;
    --title-font: PirataOne;

    --default-font-size: 16px;
}

/* Basic Styles */

html
{
    font-size: var(--default-font-size);
}

body
{
    background-color: var(--background-color);
    color: var(--text-color);

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "BNCE" 3,
            "INFM" 0,
            "SPAC" 0;
}

h1
{
    font-family: var(--title-font);
}

/* Hero Section Classes */

.hero-section
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;

    cursor: default;
    user-select: none;
}

.hero-section div
{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    flex-direction: row;
    height: 100vh;
    width: 50vw;
}

.hero-logo
{
    width: 90%;
    height: 90%;
}

@media only screen and (min-width: 200px) and (max-width: 767px)
{
    .hero-section
    {
        flex-direction: column;
    }

    .hero-section div
    {
        height: 50vh;
        width: 100vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    .hero-section
    {
        flex-direction: column;
    }

    .hero-section div
    {
        height: 50vh;
        width: 100vw;
    }
}

