@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght,BNCE@0,300..800,27;1,300..800,27&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face
{
    font-family: PirataOne;
    src: url("Fonts/Pirata One/PirataOne-Regular.ttf");
}

/* Variables */

:root
{
    --background-color-transparent: rgba(39, 39, 39, 0.9);
    --background-color: #272727;
    --red-background: #a90000;
    --red-background-transparent: rgba(169, 0, 0, 0.6);


    --text-color: #d8d8d8;
    --title-font: PirataOne;

    --blur-amount: 2rem;

    --default-font-size: 16px;

    --link-color: var(--red-background);

    --navbar-height: 5rem;
}

/* Basic Styles */

html
{
    font-size: var(--default-font-size);
}

a
{
    color: var(--link-color);
}

body
{
    color: var(--text-color);

    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

h1
{
    font-family: var(--title-font);
}

.bg-red
{
    background-color: var(--red-background);
}

.bg-red-transparent
{
    background-color: var(--red-background-transparent);
}

.bg-dark
{
    background-color: var(--background-color);
}

.bg-dark-transparent
{
    background-color: var(--background-color-transparent);
}

/* Hero Section Classes */

.hero-section
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;

    cursor: default;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--background-color);

    z-index: -10;
}

    .hero-section div
    {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        flex-direction: row;
        height: 100vh;
        width: 50vw;

    }

    .hero-logo
    {
        width: 90%;
        height: 90%;
    }

    @media only screen and (min-width: 200px) and (max-width: 767px)
    {
        .hero-section
        {
            flex-direction: column;
        }

        .hero-section div
        {
            height: 50vh;
            width: 100vw;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px)
    {
        .hero-section
        {
            flex-direction: column;
        }

        .hero-section div
        {
            height: 50vh;
            width: 100vw;
        }
    }

/* Main Section */

main.hero-page
{
    margin-top: 100vh;

    backdrop-filter: blur(var(--blur-amount));

    padding-bottom: 70vh;
}


/* Pirates of Fife Navbar */

.pirates-of-fife-navbar
{
    backdrop-filter: blur(var(--blur-amount));
    color: var(--text-color);

    font-size: 120%;

}

.pirates-of-fife-navbar .nav-link
{
    color: var(--text-color);
}

.pirates-of-fife-navbar .nav-link.active
{
    color: var(--text-color);
    font-weight: 700;
}

.pirates-of-fife-navbar .navbar-brand
{
    color: var(--text-color);
}

.pirates-of-fife-navbar .navbar-brand
{
    font-family: var(--title-font);
    font-size: 130%;
}
